<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript">
        function updateform() {
            location.href = "/updateform/<%=rows.no%>";
        }

        function deleteform() {
            location.href = "/deleteform/<%=rows.no%>";
        }
    </script>
</head>

<body>
    <h1><%= title %></h1>
    <a href="/">글 리스트로 돌아가기</a>
    <table>
        <tr>
            <th>제목</th>
            <td>
                <%= rows.title %>
            </td>
        </tr>
        <!-- tr>th{이름}+td>input[type=name] -->
        <tr>
            <th>이름</th>
            <td><%= rows.author %></td>
        </tr>
        <tr>
            <th>날짜</th>
            <td><%= rows.regdate2 %></td>
        </tr>
        <tr>
            <th>내용</th>
            <td><%= rows.content %></td>
        </tr>
        <tr>
            <th>조회수</th>
            <td><%= rows.hit %></td>
        </tr>
        <tr>
            <td colspan="2" align="right">
                <input type="button" value="수정" onClick="updateform()">
                <input type="button" value="삭제" onclick="deleteform()">
            </td>
        </tr>
    </table>
</body>

</html>